.fill-background{
    position: fixed;
    overflow: auto;
    left: 0;
}
.sky-gradient { background: linear-gradient(to bottom, #94c5f8 1%,#a6e6ff 70%,#b1b5ea 100%); }
.box-shadow{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.35)!important;
}
.clouds{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.clouds img{
    position: absolute;
}
.cloud1{
    top: 5%;
}
.cloud2{
    top: 60%
}
.cloud3{
    top: 40%
}

.cloud-animation1 {
    position: relative;
    animation: cloud1 10s infinite;
}
.cloud-animation2 {
    position: relative;
    animation: cloud2 10s infinite;
}
.cloud-animation3 {
    position: relative;
    animation: cloud3 6s infinite;
}
  
@keyframes cloud1 {
    0%,
    100% {
        left: 5%;
    }

    50% {
        left: 15%;
    }
}
@keyframes cloud2 {
    0%,
    100% {
        right: 40%;
    }

    50% {
        right: 70%;
    }
}
@keyframes cloud3 {
    0%,
    100% {
        right: 0;
    }

    50% {
        right: 10%;
    }
}
.artist-image-wrapper{
    /* width:125px; */
    height:125px;
}
.artist-button:hover{
    transform: scale(1.015);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.albums-wrapper{
    max-height: 400px;
}

/* SCROLL BAR Styles */
/* width */
.custom-scroll::-webkit-scrollbar,
.albums-wrapper::-webkit-scrollbar {
  width: 20px;
}
/* Track */
.custom-scroll::-webkit-scrollbar-track,
.albums-wrapper::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 10px;
} 
/* Handle */
.custom-scroll::-webkit-scrollbar-thumb,
.albums-wrapper::-webkit-scrollbar-thumb {
  background: #7b1fa2; 
  border-radius: 10px;
}
/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover,
.albums-wrapper::-webkit-scrollbar-thumb:hover {
  background: #7b1fa2; 
}
